@use "../abstract" as *;
.followers-section {
  display: flex;
  flex-direction: column;
  max-width: 114rem;
  margin: 0 auto 2rem;

  @include media(tab-port) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 2rem;
    column-gap: 0;
    .card {
      margin: 0;
    }
  }
  @include media(desktop) {
    flex-direction: row;
    display: flex;
    gap: 2.5rem;
  }
}
.overview {
  max-width: 114rem;
  // padding: 2rem;
  margin: 2rem auto 0;
  @include media(desktop) {
    margin-top: 6rem;
  }
  &__card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    margin-top: 2rem;

    @include media(tab-port) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include media(desktop) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
